{% extends 'main/base.html' %}
{% load i18n %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
	{% if demo %}
		<div class="demo-version">
			<span class="demo-version-text">{% trans 'You are using a demo version of the site with' %}
				{% trans 'limiting the price of an item to ₽300 or $4.5.' %}</span><br>
			<span>{% trans 'To remove restrictions, purchase' %}<a href="subscriptions">
			{% trans 'subscription' %}</a>.</span>
		</div>
	{% endif %}
	<form class="filters-form">
		<div class="filters-pattern">
			<div class="search-name">
				{% trans 'Find item' %}
				<div class="search-form" action="" method="get">
					{{ search_names.as_p }}
				</div>
				<div class="search-form" action="" method="get">
					{{ sort_filter.as_p }}
				</div>
			</div>
			<div class="search-phase">
				{% trans 'Find pattern' %}
				<div class="search-form" action="" method="get">
					{{ search_seeds.as_p }}
				</div>
				<div class="search-form" action="" method="get">
					{{ search_phases.as_p }}
				</div>
			</div>
			<div class="sorts-pattern">
				<div class="min-max-sort-form" action="" method="get">
					{% trans 'Float sort' %}
					{{ float_sort.as_p }}
				</div><br>
				<div class="min-max-sort-form" action="" method="get">
					{% trans 'Price sort' %}
					{{ price_sort.as_p }}
				</div><br>
				<div class="min-max-sort-form" action="" method="get">
					{% trans 'Average price sort' %}
					{{ average_sort.as_p }}
				</div><br>
			</div>
		</div><br>
		<input class="button-apply" type="submit" value="{% trans 'Apply filters' %}">
	</form>
	<table>
		<thead class="table__caption">
        	<tr>
              	<th class="six__columns__caption">{% trans 'Item name' %}</th>
              	<th class="six__columns__caption caption__left">{% trans 'Float' %}</th>
				<th class="six__columns__caption caption__left">{% trans 'Seed' %}</th>
				<th class="six__columns__caption caption__left">{% trans 'Phase' %}</th>
              	<th class="six__columns__caption caption__left">{% trans 'Price' %}, ₽</th>
              	<th class="six__columns__caption caption__left">{% trans 'Average price' %}, ₽</th>
        	</tr>
		</thead>
		<tbody">
        	{% if patterns %}
            	{% for el in patterns %}
                	<tr>
						<td><a class="table__a hover_text" href="{{ el.market_item_link }}">{{ el.market_item_name }}</a></td>
                        <td><a class="table__a">{{ el.market_item_float }}</a></td>
						<td><a class="table__a">{{ el.market_item_seed }}</a></td>
						<td><a class="table__a">{{ el.market_item_phase }}</a></td>
                        <td><a class="table__a">{{ el.market_item_price }}</a></td>
                        <td><a class="table__a">{{ el.market_item_avg_price }}</a></td>
                	</tr>
            	{% endfor %}
        	{% else %}
            	<p>{% trans 'Database reloading' %}</p>
        	{% endif %}
		</tbody>
	</table>
{% endblock %}
